@charset "UTF-8";
/**
|
|– base/
|   |– _reset.scss       # Reset/normalize
|   |– _typography.scss  # Typography rules
|   ...                  # Etc…
|
|– components/
|   |– _buttons.scss     # Buttons
|   |– _carousel.scss    # Carousel
|   |– _cover.scss       # Cover
|   |– _dropdown.scss    # Dropdown
|   ...                  # Etc…
|
|– layout/
|   |– _navigation.scss  # Navigation
|   |– _grid.scss        # Grid system
|   |– _header.scss      # Header
|   |– _footer.scss      # Footer
|   |– _sidebar.scss     # Sidebar
|   |– _forms.scss       # Forms
|   ...                  # Etc…
|
|– pages/
|   |– _home.scss        # Home specific styles
|   |– _contact.scss     # Contact specific styles
|   ...                  # Etc…
|
|– themes/
|   |– _theme.scss       # Default theme
|   |– _admin.scss       # Admin theme
|   ...                  # Etc…
|
|– utils/
|   |– _variables.scss   # Sass Variables
|   |– _functions.scss   # Sass Functions
|   |– _mixins.scss      # Sass Mixins
|   |– _helpers.scss     # Class & placeholders helpers
|
|– vendors/
|   |– _bootstrap.scss   # Bootstrap
|   |– _jquery-ui.scss   # jQuery UI
|   ...                  # Etc…
|
|
`– main.scss             # Main Sass file
*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

#body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
#body .container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#body .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  border-radius: 10px;
}
#body .item a, #body .item p {
  color: white;
  transition: all 0.5s;
}
#body .item:hover a, #body .item:hover p {
  color: black;
}
#body i {
  font-size: 100px;
}

.header {
  color: #fff;
}
.header#admin-header {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}
.header#admin-header a {
  color: #fff;
}
.header#admin-header a:hover {
  color: #000;
}
.header#admin-header .navbar-light .navbar-toggler {
  border-color: #fff;
}
.header#customer-header {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../../asset/img/customer-banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header#customer-header .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header#customer-header .nav-link i {
  font-size: 20px;
}
.header#customer-header img {
  width: 100%;
}
.header#customer-header .navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.header#customer-header .navbar-container.scroll {
  background: rgba(0, 0, 0, 0.5);
}
.header#customer-header a.navbar-brand, .header#customer-header i, .header#customer-header span, .header#customer-header p {
  color: #fff;
}
.header#customer-header h1 {
  font-size: 70px;
  font-weight: 300;
}

.footer {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a, .footer p, .footer span {
  line-height: 40px;
}
.footer #footer-links {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}

.header {
  color: #fff;
}
.header#admin-header {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}
.header#admin-header a {
  color: #fff;
}
.header#admin-header a:hover {
  color: #000;
}
.header#admin-header .navbar-light .navbar-toggler {
  border-color: #fff;
}
.header#customer-header {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../../asset/img/customer-banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header#customer-header .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header#customer-header .nav-link i {
  font-size: 20px;
}
.header#customer-header img {
  width: 100%;
}
.header#customer-header .navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.header#customer-header .navbar-container.scroll {
  background: rgba(0, 0, 0, 0.5);
}
.header#customer-header a.navbar-brand, .header#customer-header i, .header#customer-header span, .header#customer-header p {
  color: #fff;
}
.header#customer-header h1 {
  font-size: 70px;
  font-weight: 300;
}

.footer {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a, .footer p, .footer span {
  line-height: 40px;
}
.footer #footer-links {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}/*# sourceMappingURL=main.css.map */