<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Capstone JS - Customer page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="../../asset/css/main.css" />
  </head>
  <body>
    <section class="header" id="customer-header">
      <div class="navbar-container">
        <nav class="container navbar navbar-expand-lg navbar-light">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Capstone JS</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active mx-3">
                <a class="nav-link" href="../../index.html">
                  <i class="fa fa-home"></i>
                  <span>Home</span>
                </a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="../../admin/view/index.html">
                  <i class="fa fa-user-cog"></i>
                  <span>Admin</span>
                </a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Cart</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container py-5">
        <div class="row align-items-center py-5">
          <div class="col-12 col-md-6">
            <h1 class="mb-3">Galaxy S22｜S22+</h1>
            <div class="mb-5">
              <i class="fa fa-star mx-1"></i>
              <i class="fa fa-star mx-1"></i>
              <i class="fa fa-star mx-1"></i>
              <i class="fa fa-star mx-1"></i>
              <i class="fa fa-star mx-1"></i>
            </div>
            <p>
              Get select Galaxy Buds2 or Buds Live on us with Galaxy S22+. Plus,
              get up to $700 enhanced trade-in credit. For a limited time. Get
              hands on with the S22 and S22+. See in AR >>
            </p>
            <h2>1325$</h2>
            <button class="btn btn-danger my-3">Find out more!</button>
          </div>
          <div class="col-12 col-md-6">
            <img src="../../asset/img/s22.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="body" id="customer-body"></section>
    <section class="footer" id="customer-footer"></section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
