@import "../components/spinner.scss";
@import "../layout/header";
@import "../layout/footer";

// body
.body {
    &#admin-body {
        .title {
            background: rgba(29, 38, 113, 0.7);
            color: white;
            border-radius: 10px 10px 0 0;
            button {
                background: #17a2b8;
                color: #fff;
                &:hover {
                    background: #fff;
                    color: #17a2b8;
                }
            }
        }
        #search {
            border-radius: 5px;
            // border-color: transparent;
        }
    }
}
